/** @format */

.fullscreen-carousel {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.fullscreen-carousel .carousel .slide img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.centered-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
